body {
  margin-top: 1em;
}
.books .book {
  padding: 1em 0;
  border-bottom: 1px solid lighten($c-header-backgroundColor, 30%);
}
.book img {
  max-width: 100px;
  max-height: 150px;
}
.book .rating {
  padding: 10px 0 0 28px;
  color: #888;
  font-size: 16px;
}
.book .rating .rate {
  font-size: 24px;
  font-color: #666;
}
.book h3 {
  margin-top: 0;
}
.book .date-read {
  color: #666;
  font-size: 14px;
  float: right;
  font-style: italic;
}
.book .genres {
  float: left;
}

.book.rating-5 .rating, .book.rating-4 .rating {
  color: #5cb85c;
}
.book.rating-3 .rating {
  color: #f0ad4e;
}
.book.rating-2 .rating, .book.rating-1 .rating {
  color: #d9534f;
}


#filter-format, #filter-ratings {
  display: none;
}

#filter-read-in-2013 { display: none; }